* {
    font-size:20px;
}
.main-img {
    float: left;
    margin-left: 40%;
}

.clear{clear:both;}
p { text-align: center }
h1 { text-align: center }
div { text-align: center }
h1 {
    font-size: 40px;
}
#level1 {
    font-size: 40px;
}
.muk {
    font-size: 35px;
    font-weight: bold;
    display: block;
    color: purple;
    font-family:Impact, Charcoal, sans-serif;
}
body{
    background: url(111.jpg);
   }