.first-screen {
    height: 1080px;
    position: relative;
    
    .rectangl

    .main-content{
        width: 1800px;
        height: 810px;
    }
    .slider-meta{
        width: 480px;
    }

    .slide-content{
        flex-grow: 1;
    }
}